body{
    background-image: url(./assets/Jerusalem_Holy_Sepulchre_BW_22.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.cross{
    width: 50px;
    position: relative;
    left: 900px;
    top: -180px;
}

h1,p{
    color: white;
    background-image: linear-gradient(rgb(32, 177, 230) , rgb(50, 50, 197));
    color: transparent;
    background-clip: text;
}

mark{
    color: red;
    font-weight: 800;
}

.christianity{
    position: relative;
    left: 600px;
}

.cross1{
    position: relative;
    left: 800px;
    z-index: 1;
    top: -90px;
}

.cross2{
    position: relative;
    left: 1300px;
    z-index: 1;
    top: 190px;
}