.child1{ width: 275px; height: 180px; background-color: chartreuse; }

.child2{ width: 275px; height: 180px; background-color: red; }

.child3{ width: 275px; height: 180px; background-color: maroon; }