#menu{
    width: 1925px;
    height: 120px;
    background-color: transparent;
    background-image: url(./img/gift-carousel-back.png);
    position: relative;
    top: -10px;
    opacity: 0.8;
}

.Spoon{
    width: 27px;
    position: relative;
    left: 500px;
    top: 30px;
}

.found{
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 541px;
    top: -12px;
}

.Store{
    position: relative;
    left: 595px;
    top: 30px;
}

.Store-Service{
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 670px;
    top: -46px;
}